<!-- This is a template to use with scaffold, it generates a table view.-->
<h1 style="text-align: center;">Categories</h1>
  <% if @categories.exists? %>
    <div class="container text-center">
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th>Title</th>
            <th>Color</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @categories.each do |category| %>
          <% if category.user == current_user%>
            <tr>
                <td><%= category.title %></td>
                <td style="background-color: <% category.color_name %>;">
                  <%= category.color_name%>
                </td>
                <td><%= category.user_id %></td>
                <td><%= current_user.id %></td>
              <td>
                <%= link_to "View", category, class:"btn btn-outline-info"%>
                <%= link_to "Edit", edit_category_path(category), class:"btn btn-outline-secondary"%>
                <%= link_to 'Delete', category, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure? All expenses related this category would be lost!' }, class: "btn btn-outline-danger" %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="empty-state text-center">
      <p>Create your first Category</p>
      <%= link_to 'New Category', new_category_path, class:"btn btn-primary"%>
    </div>
  <% end %>

<% if @categories.exists? %>
      <%= link_to 'New Category', new_category_path, class:"btn btn-primary"%>
    <% end %>