<%= form_with(model: expense) do |form| %>
    <div class="col-md-6">
      <%= form.label :title, class: "label form-label" %>
      <%= form.text_field :title, class: "input form-control" %>
    </div>
    <div class="col-md-2 col">
      <%= form.label :data, class: "label form-label" %>
      <%= form.date_field :data, class: "input form-control" %>
    </div>
    <div class="col-md-2 col" >
      <%= form.label :amount, class: "label form-label" %>
      <%= form.text_field :amount, class: "input form-control" %>
    </div>

    <div class="col-md-6">
      <%= form.label :description, class: "label form-label" %>
      <%= form.textarea :description, class: "input form-control" %>
    </div>
    <div class="col-md-4">
      <%= form.label :category_id, class: "label form-label" %>
      <%= form.collection_select :category_id, Category.all, :id, :title, prompt: "Select a category" , class: "form-select" %>
    </div>

    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', expense, method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% end %>
<% end %>
