<!-- This is a template to use with scaffold, it generates a table view.-->

<h1 style="text-align: center;">Expenses</h1>
  <% if @expenses.exists? %>
    <div class="container text-center">
      <% if user_signed_in? %>
        <table class="table table-bordered">
          <thead>
            <tr class="table-success">
              <th>Title</th>
              <th>Data</th>
              <th>Amount</th>
              <th>Description</th>
              <th>Category</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <%= line_chart Expense.group_by_day(:data).count %>
          <tbody>
            
          <% @expenses.each do |expense| %>
            <% if expense.user == current_user%>
              <tr>
                  <td><%= expense.title %></td>
                  <td><%= expense.data %></td>
                  <td><%= expense.amount %></td>
                  <td><%= expense.description %></td>
                  <td><%= expense.category.title %></td>
                <td>
                  <%= link_to "View", expense, class:"btn btn-outline-info"%>
                </td>
                <td>
                  <%= link_to "Edit", edit_expense_path(expense), class:"btn btn-outline-secondary"%>
                </td>
                <td><%= link_to 'Delete', expense, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure ?' }, class: "btn btn-outline-danger" %></td>
              
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <h1>Welcome, New User</h1>
        <p> This is an Budget App. This app is going to help to keep track of your budget and expenses.</p>
        <strong> Click below to try it!</strong>
      <% end %>
    </div>

  <% else %>
    <div class="empty-state text-center">
      <p>Create your first Expense</p>
      <%= link_to 'New Expense', new_expense_path, class:"btn btn-primary"%>
    </div>
  <% end %>

<% if @expenses.exists? %>
      <%= link_to 'New Expense', new_expense_path, class:"btn btn-primary"%>
<% end %>