<!-- This is a template to use with scaffold, it generates a table view.-->
    <h1>Expenses</h1>

    <% if @expenses.exists? %>
      <%= link_to 'New Expense', new_expense_path %>
    <% end %>

  <% if @expenses.exists? %>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Data</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Category</th>

            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
        <% @expenses.each do |expense| %>
          <tr style="background-color: <%= expense.category.color if expense.category.present?%>;">
              <td><%= expense.title %></td>
              <td><%= expense.data %></td>
              <td><%= expense.amount %></td>
              <td><%= expense.description %></td>
              <td><%= expense.category.title %></td>
            <td>
              <%= link_to "View", expense %>
              <%= link_to "Edit", edit_expense_path(expense) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  <% else %>
    <div class="empty-state">
      <p>Create your first Expense</p>
      <%= link_to 'New Expense', new_expense_path %>
    </div>
  <% end %>
