<div class="p-5 text-center bg-body-tertiary rounded-3">
  <h1 class="text-body-emphasis">Title: <%= @expense.title %></h1>

    <strong>Data:</strong>
    <p class="col-lg-8 mx-auto fs-5 text-muted"><%= @expense.data %></p>

    <strong>Amount:</strong>
    <p class="col-lg-8 mx-auto fs-5 text-muted"><%= @expense.amount %></p>

    <strong>Description:</strong>
    <p class="col-lg-8 mx-auto fs-5 text-muted"><%= @expense.description %></p>

    <strong>Category:</strong>
    <p class="col-lg-8 mx-auto fs-5 text-muted"><%= @expense.category.title %></p>

  <div class="d-inline-flex gap-2 mb-5">
    <%= link_to 'Back', expenses_path, class:"btn btn-outline-secondary btn-lg px-4 rounded-pill"%>
    <%= link_to 'Edit', edit_expense_path(@expense), class:"d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"%>
  </div>

</div>